@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #03001C;
    --cor-secundaria: #DDE6ED;
    --cor-terciaria: #30AADD;
    --cor-hover: #19376D;
    --cor-hover-menu: #5B8FB9;
    --cor-hover-borda: #5B8FB9;

    --font-primaria: 'Krona One', sans-serif;
    --font-secundaria:'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.conteudo{
    padding: 2% 6%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 82px;
}

.conteudo__projeto {
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 2% 6%;
}

.conteudo__textos {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.titulo__conteudo {
    font-family: var(--font-primaria);
    font-size: 2.25rem;
    color: var(--cor-terciaria);
}

.paragrafo__conteudo {
    font-size: 1.5rem;
    font-family:var(--font-secundaria);
}

.botoes {
    font-family: var(--font-primaria);
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.botao {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    font-weight: 600;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--font-secundaria);
}

.link-projeto {
   text-decoration: none;
   color: var(--cor-hover-menu);
}

.botao:hover {
    background-color: var(--cor-hover);
    border-color: var(--cor-hover-borda);
    cursor: pointer;
}

.rodape {
    padding: 24px;
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    text-align: center;
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

.menu {
    padding: 2% 0% 0% 15%;
}

.links__menu {
    display: flex;
    gap: 80px;
}

.link__menu {
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.link__menu:hover {
    color: var(--cor-hover-menu);
    cursor: pointer;
}


.texto_sobre-mim {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.subtitulo {
    font-family: var(--font-primaria);
    font-weight: 400;
}

.cursos {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.lista {
    text-decoration: none;
    font-size: 1.5rem;
    font-family: var(--font-secundaria);  
}

.apresentacao__imagem {
    width: 50%;
}

@media(max-width: 1200px) {
    .menu {
        padding: 6%;
    }
    .links__menu {
        justify-content: center;
    }
    .conteudo {
        flex-direction: column-reverse;
        padding:5%;
    }
    .conteudo__textos {
        width: auto;
    }

}